/*==========================================================================
* Color & Font CSS
==========================================================================*/
:root {
    --theme-font-1: 'Inter', sans-serif;
    --theme-font-2: 'Plus Jakarta Sans', sans-serif;
    --primary-color-1: #57B33E;
    --primary-color-2: #FF7029;
    --primary-color-3: #038243;
    --text-white: #FFFFFF;
    --bg-white: #FFFFFF;
    --text-heading-color: #1F242C;
    --body-color: #414141;
    --color-1: #292E36;
    --color-2: #E6E5DF;
    --color-3: #F8F8F8;
    --color-4: #B4B4B9;
    --color-5: #1F242C;
    --color-6: #D7E9D2;
    --color-7: #eef7ec;
    --color-8: #F9E9E0;
    --border-color-1: #E9E9EA;
    --border-color-2: 255, 255, 255;
    --border-color-3: 0, 0, 0;
}