/*==========================================================================
* Blog One CSS
==========================================================================*/
.blog__one {
    &-item {
        margin-top: 25px;
        &-image {
            position: relative;
            overflow: hidden;
            img {
                transition: 0.5s;
            }
        }
        &-content {
            padding: 30px 40px;
            border: 1px solid var(--color-2);
            h6 {
                a {
                    transition: 0.4s;
                    &:hover {
                        color: var(--primary-color-1);
                    }
                }
            }
            &-meta {
                margin-top: 35px;
                h6 {
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 700;
                }
            }
        }
        &:hover {
            .blog__one-item-image img {
                transform: scale(1.08);
            }
        }
    }
}
/*==========================================================================
* Blog Two CSS
==========================================================================*/
.blog__two {
    &-item {
        margin-top: 25px;
        &-content {
            padding: 40px;
            background: var(--color-3);
            &-meta {
                margin-bottom: 5px;
                ul {
                    padding: 0;
                    margin: 0;
                    li {
                        display: inline-block;
                        list-style: none;
                        font-size: 14px;
                        line-height: 24px;
                        font-weight: 700;
                        font-family: var(--theme-font-2);
                        text-transform: uppercase;
                        margin-right: 25px;
                        &:last-child {
                            margin: 0;
                        }
                        > span {
                            color: var(--primary-color-2);
                            font-family: var(--theme-font-2);
                            display: block;
                            margin-bottom: 5px;
                            i {
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }
            h6 a {
                transition: 0.4s;
                &:hover {
                    color: var(--primary-color-2);
                }
            }
        }
    }
}
/*==========================================================================
* Blog Three CSS
==========================================================================*/
.blog__three {
    &-item {
        margin-top: 25px;
        &-content {
            border: 1px solid var(--border-color-1);
            border-top: none;
            position: relative;
            padding: 20px 40px 40px;
            h5 {
                font-weight: 700;
                background: var(--primary-color-3);
                color: var(--text-white);
                display: inline-block;
                position: absolute;
                top: -30px;
                right: 40px;
                text-align: center;
                padding: 2px 16px 8px 16px;
                border-radius: 5px;
                span {
                    display: block;
                    font-size: 14px;                    
                    line-height: 17px;
                    text-transform: uppercase;
                    margin-top: -4px;
                }
            }
            &-author {
                display: flex;
                align-items: center;
                gap: 15px;
                margin-bottom: 18px;
                img {
                    width: 45px;
                    height: 45px;
                    min-width: 45px;
                    border-radius: 50%;
                }
                &-info {
                    h6 {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 28px;
                    }
                    span {
                        font-size: 12px;
                        line-height: 22px;
                        display: block;
                    }
                }
            }
            h6 a {
                transition: 0.4s;
                &:hover {
                    color: var(--primary-color-3);
                }
            }
            .btn-three {
                background: var(--color-3);
                color: var(--text-heading-color);
                width: 100%;
                border-radius: 0;
                padding: 12px 24px;
                font-size: 14px;
                font-weight: 600;
                margin-top: 40px;
                justify-content: space-between;
                i {
                    font-size: 18px;
                }
                &::after,
                &::before {
                    background: var(--primary-color-3);
                }
                &:hover {
                    color: var(--text-white);
                }                
            }
        }
    }
}
/*==========================================================================
* Blog Standard CSS
==========================================================================*/
.blog__standard {
    &-item {
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0;
        }
        &-image img {
            width: 100%;
        }
        &-content {
            background: var(--color-3);
            border: 1px solid var(--border-color-1);
            padding: 30px;
            &-meta {
                margin-bottom: 15px;
                ul {
                    padding: 0;
                    margin: 0;
                    display: inline-flex;
                    column-gap: 25px;
                    align-items: center;
                    flex-wrap: wrap;
                    row-gap: 5px;
                    li {
                        list-style: none;
                        a {
                            transition: 0.4s;
                            display: inline-flex;
                            gap: 10px;
                            align-items: center;
                            i {
                                color: var(--primary-color-1);
                            }
                            &:hover {
                                color: var(--primary-color-1);
                            }
                        }
                    }
                }
            } 
            h5 {
                margin-bottom: 10px;
                a {
                    transition: 0.4s;
                    &:hover {
                        color: var(--primary-color-1);
                    }
                }
            }
            p {
                margin-bottom: 35px;
            }
        }
    }
}
/*==========================================================================
* Blog Details CSS
==========================================================================*/
.blog__details {
    &-left {
        &-meta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid var(--border-color-1);
            flex-wrap: wrap;
            column-gap: 20px;
            row-gap: 5px;
            &-content {
                h6 {
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 700;
                }                
            }
            .author {
                gap: 15px;
                &-avatar img {
                    width: 50px;
                    height: 50px;
                }
                &-info {
                    span {
                        font-size: 14px;
                        line-height: 24px;
                    }
                    h6 {
                        font-size: 18px;
                        line-height: 28px;
                        font-weight: 700;
                    }
                }
            }
        }
        &-box {
            background: var(--color-3);
            border: 1px solid var(--border-color-1);
            padding: 45px;
            border-radius: 15px;
            display: flex;
            gap: 30px;
            margin: 30px 0;
            i {
                font-size: 64px;
                color: var(--primary-color-1);
                line-height: 0;
            }
            h5 {
                font-family: var(--theme-font-1);
                font-weight: 500;
                margin-bottom: 20px;
            }
        }
        &-tag {
            display: flex;
            align-items: center;
            column-gap: 30px;
            row-gap: 20px;
            margin-top: 30px;
            margin-bottom: 60px;
            padding-bottom: 40px;
            border-bottom: 1px solid var(--border-color-1);
            flex-wrap: wrap;
            h6 {
                font-size: 20px;
                line-height: 30px;
            }
        }
        &-author {
            background: var(--color-3);
            border: 1px solid var(--border-color-1);
            padding: 45px;
            border-radius: 15px;
            display: flex;
            gap: 25px;
            &-image {
                width: 120px;
                height: 120px;
                min-width: 120px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .social__icon ul li a i {
                width: 35px;
                height: 35px;
                font-size: 14px;
                background: var(--color-2);
                color: var(--text-heading-color);
                &:hover {
                    color: var(--text-white);
                    background: var(--primary-color-1);
                }
            }
        }
        &-comment {
            &-item {
                padding-bottom: 25px;
                margin-bottom: 30px;
                border-bottom: 1px solid var(--border-color-1);
                &-comment {
                    &-image {
                        float: left;
                        img {
                            min-width: 80px;
                            width: 80px;
                            height: 80px;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                    &-content {
                        padding-left: 30px;
                        overflow: hidden;
                        span {
                            font-size: 14px;
                            margin-bottom: 5px;
                            display: inline-block;
                        }
                        h6 {
                            font-size: 18px;
                            line-height: 28px;
                            a {
                                float: right;
                                transition: 0.4s;
                                font-family: var(--heading-font);
                                font-style: normal;
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 24px;
                                color: var(--text-heading-color);
                                border: 1px solid var(--border-color-1);
                                padding: 7px 18px;
                                border-radius: 4px;
                                i {
                                    margin-right: 10px;
                                }
                                &:hover {
                                    color: var(--text-white);
                                    background: var(--primary-color-1);
                                    border-color: var(--primary-color-1);
                                }
                            }
                        }
                        p {
                            max-width: 580px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        &-contact{
            h5 {
                margin-bottom: 5px;
            }
        }
    }
}
@media (max-width: 1199px) {
    .blog__two-item-content,
    .blog__one-item-content {
        padding: 30px 25px;
    }
    .blog__three-item-content {
        padding: 20px 30px 30px;
    }
}
@media (max-width: 575px) {
    .blog__details-left-author {
        display: grid;
        padding: 40px 30px;
    }
    .blog__details-left-box {
        display: block;
        padding: 40px 30px;
        h5 {
            font-size: 20px;
            line-height: 30px;
        }
    }
    .blog__details-left-comment-item-comment {
        &-image {
            float: initial;
        }
        &-content {
            padding-left: 0;
            margin-top: 20px;
        }
    }
}
@media (max-width: 390px) {
    .blog__standard-item-content {
        padding: 20px;
        h5 {
            font-size: 22px;
            line-height: 32px;
        }
    }
}