/*==========================================================================
* Service One CSS
==========================================================================*/
.service__one {
    background: var(--color-3);
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 130px 0 230px 0;
    &-item {
        background: var(--bg-white);
        padding: 45px 45px 40px 45px;
        background-repeat: no-repeat;
        background-position: bottom;
        transition: 0.4s;
        border: 1px solid var(--border-color-1);
        margin-top: 25px;
        &-icon {
            margin-bottom: 25px;
            i {
                font-size: 80px;
                color: var(--primary-color-1);
                transition: 0.4s;
                line-height: 0;
            }
        }
        &-content {
            h6 {
                margin-bottom: 8px;
                transition: 0.4s;
            }
            p {
                margin-bottom: 30px;
                transition: 0.4s;
            }
            > a {
                color: var(--primary-color-1);
            }
        }
        &:hover {
            background: var(--primary-color-1);
            border-color: var(--primary-color-1);
            background-repeat: no-repeat;
            background-position: bottom;
            .service__one-item {
                &-icon {
                    i {
                        color: var(--text-white);
                    }
                }
                &-content {
                    .simple-btn span::before,
                    p,
                    > a,
                    h6 {
                        color: var(--text-white);
                    }
                }
            }
        }
    }
}
/*==========================================================================
* Service Two CSS
==========================================================================*/
.service__two {
    background: var(--color-3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &-item {
        margin-top: 25px;
        &-content {
            position: relative;
            margin: -35px 30px 0 30px;
            padding: 35px 40px 0 40px;
            background: var(--bg-white);
            transition: 0.5s;
            &-icon {
                width: 80px;
                height: 80px;
                background: var(--primary-color-2);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: -80px;
                left: 0;
                i {
                    color: var(--text-white);
                    font-size: 50px;
                    line-height: 0;
                }
            }
            > span {
                color: var(--primary-color-2);
                font-weight: 700;
                font-family: var(--theme-font-2);
                display: block;
                margin-bottom: 5px;
                i {
                    margin-right: 8px;
                }
            }
            h6 a {
                transition: 0.4s;
                &:hover {
                    color: var(--primary-color-2);
                }
            }
            p {
                margin-top: 10px;
                margin-bottom: 0;
                transition: 0.5s;
            }
            .simple-btn {
                opacity: 0;
                font-size: 14px;
                line-height: 24px;
                span::before,
                &:hover {
                    color: var(--primary-color-2);
                }
            }
        }
        &:hover {
            .service__two-item {
                &-content {
                    margin-top: -90px;
                    padding-bottom: 30px;
                    p {
                        margin-bottom: 25px;
                    }
                    .simple-btn {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &.services {
        .service__two-item-content {
            .simple-btn {
                span::before {
                    color: var(--primary-color-1);
                }
                &:hover {
                    color: var(--primary-color-1);
                }
            }
        }
        .service__two-item-content h6 a:hover,
        .service__two-item-content > span {
            color: var(--primary-color-1);
        }
        .service__two-item-content-icon {
            background: var(--primary-color-1);
        }
    }
}
/*==========================================================================
* Service Three CSS
==========================================================================*/
.service__three {
    &-item {
        padding: 35px 25px;
        border: 1px solid var(--border-color-1);
        border-radius: 5px;
        text-align: center;
        transition: 0.4s;
        &-icon {
            width: 140px;
            height: 140px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px dashed var(--primary-color-3);
            margin-bottom: 25px;
            transition: 0.4s;
            i {
                line-height: 0;
                font-size: 70px;
                color: var(--primary-color-3);
                transition: 0.4s;
            }
        }
        &-content {
            h6 {
                margin-bottom: 15px;
                a {
                    transition: 0.4s;
                    &:hover {
                        color: var(--primary-color-3);
                    }
                }
            }
            .simple-btn {
                font-size: 14px;
                line-height: 24px;
                span::before,
                &:hover {
                    color: var(--primary-color-3);
                }
            }
            p {
                margin-bottom: 25px;
            }
        }
        &:hover {
            border: 1px dashed var(--primary-color-3);
            .service__three-item-icon {
                background: var(--primary-color-3);
                i {
                    color: var(--text-white);
                }
            }
        }
    }
}
/*==========================================================================
* Service Details CSS
==========================================================================*/
.service__details {
    &-content {
        &-image {
            margin-bottom: 30px;
            img {
                width: 100%;
            }
        }
        h3 {
            margin-bottom: 20px;
        }
        h4 {
            margin-bottom: 20px;
            padding-top: 20px;
        }
        &-list {
            display: flex;
            align-items: center;
            gap: 15px;
            box-shadow: 0 0 60px rgba(var(--border-color-3), 0.04);
            border: 1px solid var(--border-color-1);
            padding: 30px;
            border-radius: 8px;
            i {
                width: 55px;
                height: 55px;
                min-width: 55px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: var(--primary-color-1);
                color: var(--text-white);
                font-size: 30px;
            }
            h6 {
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;
            }            
        }
        &-faq {
            padding-top: 10px;
        }
    }
}
@media (max-width: 1299px) {
    .service__two-item-content {
        margin: -35px 20px 0 20px;
        padding: 35px 30px 0 30px;
    }
}
@media (max-width: 1199px) {
    .service__one-item {
        padding: 40px 35px;
    }
    .service__two-item-content {
        padding: 35px 25px 0 25px;
    }
}